.button {
	background-color: #ffffff;;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	display: inline-block;
	/*padding: 40px 20px; */
	text-transform: uppercase;
	letter-spacing: 2;
	font-style: Arial;
	font-size: 12px;
	color: #438496;
	margin-bottom:1px;
	padding: 10px 30px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	/*border-bottom-width: 3px; */
	margin: 1px 1px;
	
	/*old
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;*/
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
#c {
  width: 400px;
  height: 300px;
}
body { background: #438496; }
h1 {
	color: #fff;
	font-family: 'Cormorant Garamond';
	border-bottom: 3px solid #ffffff;
	letter-spacing: normal;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
	
	letter-spacing: 35px;
	margin-bottom: 57px;
	text-align: center;
	text-indent: 24px;
	text-transform: uppercase;
}

p {
	color: #fff;

	font-family: 'Cormorant Garamond';
	font-size: 20px;
	font-style: italic;
	font-weight: 400;
	line-height: 48px;
	
	max-width: 640px;
	margin: 0 auto 30px;
	margin-top: .2px;
	margin-bottom: .2px;
	text-align: center;
}

a {
	color: #e66c7e;	border-bottom: 2px solid #e66c7e;
	font-family: 'Cormorant Garamond';
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
  display: flex;
  justify-content: center;
}