.button {
    background-color: #22AEDC; //blue
    border: none;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}